html{
    box-sizing: border-box;
    background-color: whitesmoke; 
    font-family: 'Montserrat', sans-serif;    
 } 
 
 .Header{    
   background-color:rgb(170, 63, 63) !important;
   position: fixed; 
   height: auto;
   padding: 10px ;
   top: 0;
   left: 0;
   width: 100%;
   display: flexbox;   
   flex-direction: row;
   text-align: right;
   justify-content: space-between;
   
    
 }
 .Cuerpo{
  width: 90%;
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 30px; 
  background-color: #f5dbbad8; 
  border-radius: 5px
 }
 
 .Header a{
   display: inline-block;
   padding: 10px 25px;
   margin-left: auto;
   text-decoration: none;
   color:black ;
   font-weight: bold;
   background-clip: text;
   
   
  }
.Header a:hover{
  background-color: #555;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

